main {
    background: black url('../../assets/img/bg.png') no-repeat center center/cover;
    background-attachment: fixed;
    overflow-x: hidden;
    position: relative;
}

.link-img {
    &:hover {
        img {
            filter: saturate(1.5) drop-shadow(0 0 .5rem rgba(white, .5));
        }
    }
}

.banner {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        @include gradient-y($start-color: #E0C89D, $end-color: #89785B, $start-percent: 0%, $end-percent: 100%);
    }

    img {
        width: 100%;
    }

    @include media-breakpoint-down(md) {
        img {
            min-height: 165px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.card-download {
    color: #E0C89D;
    background-color: transparent;
    @include gradient-y($start-color: rgba(black, 0.75), $end-color: rgba(black, 0), $start-percent: 0%, $end-percent: 100%);
    position: relative;
    border-radius: 1rem;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1rem;
        @include gradient-y($start-color: rgba(white, 0.25), $end-color: rgba(white, 0), $start-percent: 0%, $end-percent: 100%);
    }

    p {
        @include font-size(20);
        font-weight: 300;

        a {
            color: #E0C89D;
        }
    }
}