// Fonts
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');

// Variables
@import './variables';

// Bootstrap
@import './bootstrap/bootstrap.scss';

// Layouts
@import './header';
@import './footer';

// Pages
@import './pages/index';
@import './pages/promotion';
@import './pages/download';

// Global
@import './global';