#downloadPage {
    .content1 {
        >.container {
            position: relative;
            padding: 3rem 15px;

            .snak {
                position: absolute;
                top: 0;
                right: -5%;
                height: 100%;
                z-index: 2;

                @include media-breakpoint-down(md) {
                    z-index: 0;
                    filter: brightness(.25);
                }
            }
        }

        .line {
            width: 100%;
            height: 5px;
            @include gradient-y($start-color: #5C0F21, $end-color: #410512, $start-percent: 0%, $end-percent: 100%);
        }

        h2 {
            font-size: 0;
            color: transparent;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: calc(-125px / 2);
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
                height: 125px;
                background: url('../../assets/img/light-promotion.png') no-repeat center center/contain;
                mix-blend-mode: screen;
            }

            img {
                max-width: 350px;
            }
        }

        p {
            font-size: 14px;
        }
    }

    .content2 {
        .download {
            background: url('../../assets/img/bg-download-link.png') no-repeat center center/cover;
            padding: 4rem 0;

            .link-img {
                img {
                    @include media-breakpoint-down(md) {
                        width: 150px;
                        height: 150px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}