#indexPage {
    .content1 {
        padding: 5rem 0 8rem;
        position: relative;
        z-index: 2;

        .snak {
            position: absolute;
            top: 0;
            right: 15%;
            height: 120%;
        }


        .btn {
            @include font-size(30);
            font-weight: 500;
            background: url('../../assets/img/bg-btn-gold.png') repeat-x center center/auto 100%;
            color: #302B23;
            border-radius: 35px;
            border: 4px solid #E0C89D;
            padding: 1.15rem 3rem;
            position: relative;

            &::before {
                content: '';
                mix-blend-mode: screen;
                position: absolute;
                top: calc(-120% / 2);
                left: -40%;
                width: 120%;
                height: 120%;
                background: url('../../assets/img/light-btn.png') no-repeat center center/contain;
            }

            &::after {
                content: '';
                mix-blend-mode: screen;
                position: absolute;
                bottom: calc(-120% / 2);
                right: -40%;
                width: 120%;
                height: 120%;
                background: url('../../assets/img/light-btn.png') no-repeat center center/contain;
            }
        }

        p {
            font-size: 14px;
        }
    }

    .content2 {
        background: url('../../assets/img/bg-content2.png') repeat-x center center/auto 100%;
        padding: 4rem 0;
        position: relative;
        z-index: 1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 50%;
            @include gradient-x($start-color: rgba(black, 0), $end-color: rgba(black, 0.9), $start-percent: 0%, $end-percent: 100%);
        }

        &::after {
            content: '';
            position: absolute;
            bottom: calc(-180px / 2);
            left: 0;
            right: 0;
            height: 180px;
            background: url('../../assets/img/light-content2.png') no-repeat center center/auto 100%;
            mix-blend-mode: screen;
        }

        .cube {
            position: absolute;
            top: calc(-290px / 2);
            left: 15%;
        }

        h5 {
            @include font-size(30);

            span {
                display: block;
                background: -webkit-linear-gradient(#E0C89D, #89785B);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        p {
            font-size: 14px;
        }
    }

    .promotion {
        padding: 3rem 0;

        .line {
            width: 100%;
            height: 5px;
            @include gradient-y($start-color: #5C0F21, $end-color: #410512, $start-percent: 0%, $end-percent: 100%);
        }

        h2 {
            font-size: 0;
            color: transparent;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: calc(-125px / 2);
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
                height: 125px;
                background: url('../../assets/img/light-promotion.png') no-repeat center center/contain;
                mix-blend-mode: screen;
            }

            img {
                max-width: 350px;
            }
        }

        p {
            font-size: 14px;
        }

        .card {
            color: #E0C89D;
            background-color: transparent;
            @include gradient-y($start-color: rgba(black, 0.75), $end-color: rgba(black, 0), $start-percent: 0%, $end-percent: 100%);
            position: relative;
            border-radius: 1rem;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 1rem;
                @include gradient-y($start-color: rgba(white, 0.25), $end-color: rgba(white, 0), $start-percent: 0%, $end-percent: 100%);
            }

            p {
                @include font-size(20);
                font-weight: 300;

                a {
                    color: #E0C89D;
                }
            }
        }
    }
}