#promotionPage {
    .list-promotion {
        list-style: none;
        padding-left: 0;

        &-item {
            background: url('../../assets/img/bg-promotion-item.png') no-repeat center center/cover;
            padding: 2rem 0;
            color: #BBA77F;
            margin-bottom: 2rem;

            img {
                filter: drop-shadow(0 .5rem 1rem rgba(black, .5));
            }

            h2 {
                font-weight: 700;
            }

            ul {
                list-style: none;

                li {
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: .25rem;
                        left: -1.5rem;
                        width: 12px;
                        height: 12px;
                        border-radius: 100%;
                        background-color: #0E3D23;
                        border: 2px solid #BBA77F;
                    }
                }
            }
        }
    }

    .content1 {

        >.container {
            position: relative;
            padding: 3rem 15px;

            .snak {
                position: absolute;
                top: 0;
                right: -5%;
                height: 100%;
                z-index: 2;

                @include media-breakpoint-down(md) {
                    z-index: 0;
                    filter: brightness(.25);
                }
            }
        }

        .line {
            width: 100%;
            height: 5px;
            @include gradient-y($start-color: #5C0F21, $end-color: #410512, $start-percent: 0%, $end-percent: 100%);
        }

        h2 {
            font-size: 0;
            color: transparent;
            text-align: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: calc(-125px / 2);
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100%;
                height: 125px;
                background: url('../../assets/img/light-promotion.png') no-repeat center center/contain;
                mix-blend-mode: screen;
            }
        }

        p {
            font-size: 14px;
        }
    }
}